body {
  font-family: "Times New Roman", Times, serif;
  background: rgb(255, 255, 255);
  margin: 10%, 4%;
}

h1 {
  font-size: 64px;
  margin: 0% 0%;
font-weight: normal;
}

.flex-container {
  min-height: 100%;
  padding: 0% 0%;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  /* align-items: stretch; */
}

.flex-container > div {
  background-color: rgba(253, 228, 239, 0.836);

  padding: 4vh 4%;
  margin: 10px;

  /* display: flex; */
  justify-content: center;
  align-items: center;
}

a {
  color: rgb(91, 38, 116);
  text-decoration: underline;
}

a:hover {
  color: black;
}
.pic {
  display: none;
}

.text {
  width: 700px;
}
.lilpic {
  display: inline-block;
  position: relative;
  top: 8;
  margin-left: 16; 
  height: 72px;
  
}

.actualimg{
  height: 100%;
}

.lilpic big{
  /* width: 400px;
  height: 300px;
  margin: -75px 0 0 -100px; */
}

h {
  font-size: 64px;
}

@media only screen and (min-width: 950px) {
  .flex-container {
    height: 100%;
    padding: 0% 0%;
  }
  .pic {
    width: 35%;
    display: flex;
  }
  .lilpic {
    display: none;
  }
  .text {
    width: 35%;
  }
}
